@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-primary: #00ff41;
  --color-secondary: #0ea5e9;

  --font-mono: "JetBrains Mono", monospace;

  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-glitch: glitch 1s linear infinite;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}

:root {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-mono);
}

body {
  margin: 0;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

.glass-panel {
  background: rgba(5, 5, 5, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 65, 0.3);
  box-shadow: 0 0 15px rgba(0, 255, 65, 0.1);
}